name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

env:
  AZURE_RESOURCE_GROUP: rg-bank-churn-v2
  ACR_NAME: youssefetudiant
  CONTAINER_INSTANCE_NAME: churn-api-instance
  IMAGE_NAME: bank-churn-api

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests with coverage
        # On génère results.xml pour que GitHub puisse l'afficher dans le monitoring
        run: python -m pytest tests --cov=app --junitxml=results.xml

      - name: Surface Test Results
        # C'est cette étape qui crée le tableau de monitoring visuel sur GitHub
        uses: test-summary/action@v2
        with:
          paths: "results.xml"
        if: always()

  build-and-deploy:
    needs: test # Le déploiement ne se fait que si les tests passent
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Login to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.ACR_NAME }}.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push Docker image
        run: |
          # Construction de l'image Docker avec le tag du commit
          docker build -t ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:${{ github.sha }} .
          docker push ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:${{ github.sha }}